.servicesCard{

    height: 10rem;
    width: 16rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a04293;
    padding-bottom: 1rem;

}


.ServicesOara{

    color: #dd08a4;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: justify;
    width: 15rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}