.paraAbout{

    color: #dd08a4;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: justify;
    width: 34rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}